.AddressSearchContainer{
    max-width: 330px;
    width: 100%;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}


.btn_add_markers{
    width: 40px;
    height: 41,6px;
    padding: 0;
    position: fixed;
    bottom: 39%;
    right:  -2px;
    transform: translateX(-50%);
    z-index: 110;
    transition: transform 0.7s ease;
    margin-left: 0px;
    background: none;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    margin-left: 5px;
    font-family: 'Acme', sans-serif;
}

.ModeToggle:hover{
    color: rgb(187, 56, 239);
}

.marker_img_add{
    width: 45px;
    height: 45px;
    cursor: pointer;
}


.btn_delete_markers{
    width: 50px;
    height: 40px;
    border: none;
    background: none;
    margin-left: 10px;
    position: fixed;
    bottom: 32%;
    right: -12px;
    transform: translateX(-50%);
    z-index: 110;
    transition: transform 0.7s ease;

}
.marker_img_delete{
    width: 45px;
    height: 45px;
    cursor: pointer;
}


.loc_Img_Container{
    max-width: 500px;
    position: fixed;
    bottom: 55%;
    right: -19px;
    transform: translateX(-50%);
    z-index: 110;
    transition: transform 0.7s ease;
  
}

.loc_Img{
    width: 55px;
    height: 55px;
    cursor: pointer;
   
}

.shelter_Btn_Container{
    max-width: 500px;
    position: fixed;
    bottom: 47%;
    right: -19px;
    transform: translateX(-50%);
    z-index: 110;
    transition: transform 0.7s ease;
}

.marker_btn_container{
    max-width: 500px;
    width: 40px;
    height: 40px;
   
}
.shelter_Img{
    width: 55px;
    height: 55px;
    cursor: pointer;
}



.loadText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Розмір екрану */
}

.clear_btn{
    background: transparent;
    border: none;
    padding: 0;
    
}

@media (hover:hover){
    img:hover{
        transform: scale(1.2); 
        transition: transform 0.3s ease;
    }
}

@media (hover: none){
    img:active{
        transform: scale(1.2); 
        transition: transform 0.3s ease;
    }
}


@media only screen and (max-width: 500px) {
    .loc_Img{
        width: 50px;
        height: 50px;
    }
    .shelter_Img{
        width: 50px;
        height: 50px;
    }
    .marker_img_add{
        width: 40px;
        height: 40px;
    }
    .marker_img_delete{
        width: 40px;
        height: 40px;
    }
    .btn_add_markers{
        right: -9px;
        /* bottom: 37%; */
    }
    .btn_delete_markers{
        right: -19px;
        bottom: 31%;
    }
}

/* @media only screen and (max-width: 768px) {
    .content {
      width: 90%;
      margin: 80px auto;
    }
  }
  
  @media only screen and (max-width: 420px){
    input[type="text"]{
      width: 80%;
      margin-bottom: 5px;
      margin-left: 7px;
    }
    .edit__save__btn{
      margin: 0px 40px 20px 5px;
    }
    .edit__cancel__btn{
      margin: 0px 40px 20px 5px;
    }
    .edit__delete-img{
      right: 15%;
    }
    .add__btn{
      margin-right: 7px;
      height: 27px;
    }
  } 
   */