.AddressSearchContainer{
    max-width: 475px;
    width: 100%;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;

}


.btn_add_markers{
    width: 80px;
    height: 41,6px;
    padding: 0;
    margin-left: 0px;
    background: none;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    margin-left: 5px;
    font-family: 'Acme', sans-serif;
}

.ModeToggle:hover{
    color: rgb(187, 56, 239);
}

.marker_img_add{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn_delete_markers{
    width: 50px;
    height: 100%;
    border: none;
    background: none;
    margin-left: 10px;

}
.marker_img_delete{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.loc_Img_Container{
    max-width: 500px;
    position: fixed;
    bottom: 50%;
    right: -19px;
    transform: translateX(-50%);
    z-index: 110;
    transition: transform 0.7s ease;
  
}

.loc_Img{
   cursor: pointer;
   
}

.loc_Img:hover{
    transform: scale(1.2); 
    transition: transform 0.3s ease;
  
}
.shelter_Btn_Container{
    max-width: 500px;
    position: fixed;
    bottom: 42%;
    right: -19px;
    transform: translateX(-50%);
    z-index: 110;
    transition: transform 0.7s ease;
}
.shelter_Img{
    cursor: pointer;
}

.shelter_Img:hover{
    transform: scale(1.2); 
    transition: transform 0.3s ease;
}

.loadText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Розмір екрану */
}

.clear_btn{
    background: transparent;
    border: none;
    padding: 0;
    
}